* {
  padding: 0;
  margin:0 ;
}

body{
  width:100%;
  margin:0 auto;
  padding: 0 auto;
  background-color: #D3D3D3 ;

}

#page { margin-left: 15%;
    margin-right: 15%;
    text-align:center;
    border: solid 3px #FF4500;
    
}

@media screen and (min-width: 1000px) {
#page { width: 900px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none; 
  align-items: flex-end;
  background-image: url("../Images/fond-navbar.jpg");
  background-repeat: repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
}

a{
  border:solid 1px;
  border-radius: 5px;
  color:#FF4500;
  background-color: #D3D3D3;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 7px;
  padding-top:7px;  
  display: block;  
  text-decoration: none;
}




a:link {color: #FF4500;}
a:visited {color: #FF4500;}
a:hover {color: #FF4500;
      background-color: grey}
a:active {color: #FF4500;}

/*--------------------------------*/

              a:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 

/*----------------------------*/

#block1 {
	margin-top: 5%
}

section {
	margin-top: 3%;
}

p {
	padding:2%;
	text-align: justify;
}


h2{
  z-index: -1;
  margin-bottom:10px;
  margin-top: 10px
}



/* toggle ----------------*/

.tout {
	display: none;
	
}

label {
	cursor: pointer;
}
/*----------*/

#section1, #section2, #section3, #section4, #section5, #section6{
	display: none;
}

#section1:checked + .tout,#section2:checked + .tout, #section3:checked + .tout, #section4:checked + .tout, #section5:checked + .tout, #section6:checked + .tout{
	vertical-align: top;
	display: inline-block;
}



/*------- animation titre--------------*/

 .slideInLeft1 {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  }

  .slideInLeft2 {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  }

  .slideInLeft3 {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  }


  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

         .slideInRight1 {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay:0.5s;
  animation-delay: 0.5s;
  }

          .slideInRight2 {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay:1.5s;
  animation-delay: 1.5s;
  }

          .slideInRight3 {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay:2.5s;
  animation-delay: 2.5s;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

/*--------troll---------*/

nav>ul>li:nth-child(2){
  animation-name: coter;
  animation-duration: 8s;
  animation-delay: 10s;
  animation-fill-mode: backwards;
}

nav>ul>li:nth-child(4){
  animation-name: coter2;
  animation-duration: 8s;
  animation-delay: 10s;
  animation-fill-mode: backwards;

}


body>div>nav>ul>img {
  position: absolute;
  height: 60px;
  top: 22px;
  animation-name: illu;
  animation-duration: 3s;
  animation-delay: 15s;
  opacity:0;
  z-index: 2;

}


@keyframes coter {

  0% {
    transform: translate(0%, 0px) rotate(0deg);
    
  }
  80%{
    transform:  translate(100%, -50px) rotate(-45deg);
  }
  100%{
    transform:  translate(100%, -50px) rotate(-45deg);
  }
}

@keyframes coter2 {

  0% {
    transform: translate(0%, 0px) rotate(0deg);

    
  }
  80%{
    transform:  translate(-100%, -50px) rotate(45deg);
  }
  100%{
    transform:  translate(-100%, -50px) rotate(45deg);
  }
}

@keyframes illu {
  0%{
      opacity: 0;
      z-index: 2;
      
  }

  1%{
      opacity: 0;
      z-index: 2;
     
  }

  100% 
  { opacity: 1;
    z-index: 2;
    

  }
}