* {
  padding: 0;
  margin:0 ;
}
html{
  overflow-x: hidden;
}
body{
  width:100%;
  margin:0 auto;
  padding: 0 auto;
  background-color: #D3D3D3 ;

}

#page { margin-left: 15%;
    margin-right: 15%;
    text-align:center;
    border: solid 3px #FF4500;
}

@media screen and (min-width: 1000px) {
#page { width: 900px;
}

}


ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none; 
  align-items: flex-end;
  background-image: url("../Images/fond-navbar.jpg");
  background-repeat: repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
}

a{
  border:solid 1px;
  border-radius: 5px;
  color:#FF4500;
  background-color: #D3D3D3;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 7px;
  padding-top:7px;  
  display: block;  
  text-decoration: none;
}




a:link {color: #FF4500;}
a:visited {color: #FF4500;}
a:hover {color: #FF4500;
      background-color: grey}
a:active {color: #FF4500;}

/*--------------------------------*/

              a:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
/*---------corp----------*/

h1{
  margin-bottom: 20px;
  margin-top: 20px;
}
h2{margin-bottom: 15px;

}
p{
  margin-bottom: 15px;
}


/*---------troll---------*/


#arcenciel{width: 100%}

#img1{
  width: 33.33%;
  margin-top: 200px;
}
#img2{
  width: 33.33%;
  margin-left:-10px;
  margin-top: 200px;
}
#img3{
  width: 33.33%;
  margin-left:-20px;
  margin-top: 200px;
}

#cache {
  margin-top: -80px;
  height: 90px;
  width: 100%;
  background-color:  #D3D3D3;
  position: absolute;
  z-index: 2;
  animation-name: cache;
  animation-duration: 5s;
  animation-delay:10.3s;
  animation-timing-function: linear;


}

#kat {
  z-index: 3;
  position: absolute;
  height: 80px;
  margin-top: 190px;
  opacity: 0;
  animation-name: kat;
  animation-duration: 5.5s;
  animation-delay: 10s;
  animation-timing-function: linear;
}

@keyframes cache {
  0% {
    transform: translate(0%);
    
  }

  100% {
   transform: translate(100%);
   

  }

}
@keyframes kat {
  0%{opacity: 0;
      right:100%;}
  1%{opacity: 1;
      right:100%;}
  100% {opacity: 1;
        right:-10%;
  }
}


