* {
	padding: 0;
	margin:0;
}

body{
	width:100%;
	margin:0 auto;
	padding: 0 auto;
	background-color: #D3D3D3 ;

}

#page { margin-left: 15%;
		margin-right: 15%;
		text-align:center;
		border: solid 3px #FF4500;
		
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none; 
	align-items: flex-end;
	background-image: url("https://image.freepik.com/vecteurs-libre/orange-abstrait-hexagonal-miel-peigne-arriere-plan_1164-1261.jpg");
	background-repeat: repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}


a{text-decoration: none;
	border:solid 1px;
	border-radius: 5px;
	color:#FF4500;
	background-color: #D3D3D3;
	padding: 5%;

}

a:link {color: #FF4500;}
a:visited {color: #FF4500;}
a:hover {color: #FF4500;
			background-color: grey}
a:active {color: #FF4500;}


 a:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 

/*-------------------------*/

section {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%
}
h2{margin-top: 5%;
	margin-bottom: 2%;
}

article {
	padding: 10px;

	
}

img {
	border-radius: 0%;

	
}

#pp {
	width: 20%;
}
#becode {
	width: 47.7%;

}

#presentation {
	width: 77.3%;
	margin-top:0 auto;

}
#becodetxt {
	width: 50%;
	text-align: justify;
}





/*-------------------------*/
/*
#shoot {

	position: absolute;
	top:50%;
	left:27%;
	opacity: 0;
	animation-name: shoot;
	animation-duration: 3.2s;
	animation-delay: 10s;
}

@keyframes shoot {
	0% {
		opacity: 0
	}
  	1% {
  		opacity:1;
  	}
  	99% {opacity:1;
  	}
  	100% {
  		opacity:0;
  	}
  } 

  #becode {
  	animation-name: becode;
  	animation-duration: 2s;
  	animation-delay: 13s;
  }

  @keyframes becode {

  	0% {

  	}
  } */