* {
	padding: 0;
	margin:0 ;
}
html{
  overflow-x:hidden;
}
body{
	width:100%;
	margin:0 auto;
	padding: 0 auto;
	background-color: #D3D3D3 ;

}

#page { margin-left: 15%;
		margin-right: 15%;
		text-align:center;
		border: solid 3px #FF4500;
		
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none; 
	align-items: flex-end;
	background-image: url("https://image.freepik.com/vecteurs-libre/orange-abstrait-hexagonal-miel-peigne-arriere-plan_1164-1261.jpg");
	background-repeat: repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
  overflow: hidden;
}

a{
	border:solid 1px;
	border-radius: 5px;
	color:#FF4500;
	background-color: #D3D3D3;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 7px;
  padding-top:7px;	
  display: block;  
  text-decoration: none;
}




a:link {color: #FF4500;}
a:visited {color: #FF4500;}
a:hover {color: #FF4500;
			background-color: grey}
a:active {color: #FF4500;}


 a:hover {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 

/*-------------------------*/

section {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2{margin-top: 15px;
	margin-bottom: 10px;
}

article {
	padding: 10px;

	
}

img {
	border-radius: 0%;

	
}

#pp {
	width: 300px;
  height: 338px;
  background-image: url(../Images/PPvcard.png);
  background-repeat: no-repeat;
  background-position: -3100px;
  animation: PP 1s steps(11) 1.2s;

  
 
}

#ppimg{
  width: 100%;
  height:100%;
}
#becodeBlock {
	width: 47.7%;
  margin-top: 50px;
}

#becode {
  height: 100%;
  width: 100%;
}

#presentation {
	width: 60%;
	margin-top:0 auto;

}
#becodetxt {
	width: 50%;
	text-align: justify;
  margin-top: 10px;
}


@keyframes PP{
  0%{background-position: 1px}
  100%{background-position: -3410px}
}


/*-------------------------*/

#shoot {
  background-image: url(../Images/shoot.png);
  height: 160px;
  width: 500px;
	position: absolute;
	top:80%;
	left:27%;
	opacity: 0;
	/*animation-name: shoot;
	animation-duration: 3.2s;
	animation-delay: 10.2s;*/
  animation: play 3s steps(34);
  animation-delay: 10.2s

}

@keyframes shoot {
	0% {
		opacity: 0
	}
  	1% {
  		opacity:1;
  	}
  	99% {opacity:1;
  	}
  	100% {
  		opacity:0;
  	}
  } 

  @keyframes play {
    0%{opacity: 1}
   99% { background-position: -17340px; 
        opacity:1;}
   100%{opacity: 0}
}

  #becode {
  	animation-name: becode;
  	animation-duration: 2s;
  	animation-delay: 11.9s;
   
  }

  @keyframes becode {

  	0% {transform:translate(0px,0px) rotate(0deg);
      ;

  	}

    99% {
      transform:translate(1500px,800px)rotate(1500deg);
      opacity: 1;
    }
    100%{transform:translate(-1500px,-800px)rotate(-1500deg);
          opacity:0;}
  } 





  /*------------------------------------------------*/


 #thug {
  position:absolute;
  opacity:0;
  width:250px;
  margin-top: 57px;
  margin-left: -120px;
  z-index: 10;
  height: auto;
  animation-name: thug;
  animation-duration: 4s;
  animation-delay:2s;
 }

 @keyframes thug {
      
      0%{opacity: 0;
          transform: translate(-500px,-500px) rotate(-1500deg);
      }
      1%{opacity: 1;
          transform: translate(-500px,-500px) rotate(-1500deg);
        }
      50%{
          transform: translate(0px,0px) rotate(10deg);
      }
      99%{opacity: 1;
          transform: translate(0px,0px) rotate(0deg);
        }
      100%{opacity: 0;
         transform: translate(0px,0px) rotate(0deg);
        }

 }